{% extends 'front_footer.html.twig' %}

{% block webtitle %}Erreur !{% endblock %}

{% block title %}Erreur{% endblock %}

{% block undertitle %}Une erreur est survenue.{% endblock %}

{% block main %}

	<h2>Une erreur inconnue c'est produite</h2>
	<p>Veuillez reessayer ulterieurement</p>
	<p><a title ="Revenir sur la page d'accueil" href="\" class="Grey">Revenir sur la page d'accueil</a></p>

{% endblock %}	