{% extends '0error.html.twig' %}

{% block main %}

	<h2>Erreur 404</h2>
	<p>La page demandée est introuvable.</p>
	<p><a title ="Revenir sur la page d'accueil" href="\" class="Grey">Revenir sur la page d'accueil</a></p>

{% endblock %}	