{% extends '0error.html.twig' %}

{% block main %}

	<h2>Erreur 002</h2>
	<p>Un probleme est parvenue dans le controller de la page, veullez notifier la personne en charge du site</p>
	<p><a title ="Revenir sur la page d'accueil" href="\" class="Grey">Revenir sur la page d'accueil</a></p>

{% endblock %}	