{% extends '0error.html.twig' %}

{% block main %}

	<h2>Erreur 005</h2>
	<p>Vous n'avez pas le droit d'acceder a cette page</p>
	<p><a title ="Revenir sur la page d'accueil" href="\" class="Grey">Revenir sur la page d'accueil</a></p>

{% endblock %}	