{% extends '0error.html.twig' %}

{% block main %}

	<h2>Erreur 006</h2>
	<p>Vous ne pouvez acceder a cette page qu'en cliquant sur le bouton "voir +" en dessous des annonces</p>
	<p><a title ="Revenir sur la page d'accueil" href="\" class="Grey">Revenir sur la page d'accueil</a></p>

{% endblock %}	