{% extends '0error.html.twig' %}

{% block main %}

	<h2>Erreur 007</h2>
	<p>Un probleme est survenue avec l'image, veuillez réssayer</p>
	<p><a title ="Revenir sur la page d'accueil" href="\" class="Grey">Revenir sur la page d'accueil</a></p>

{% endblock %}	