<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block webtitle %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Source+Sans+Pro:ital,wght@0,400;1,300;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}

        	<header>
                <h1 class="Titre_Accueil">{% block title %}RBNB{% endblock %}</h1>
                <div class ="Under_Menu_Double">
                    <p class="Under_Menu">{% block undertitle %}Bienvenue sur notre tout nouveau site de airbnb RBNB !<br> vous pouvez proposer vos reservations et reserver !{% endblock %}</p>
                </div>
            </header>
        	{% block menu %}
                {% block menu_interne %}
                {% endblock %}
            {% endblock %}
        	
        	{% block main %}
                {% block forstart %}
                {% endblock %}
                {% block addSupr %}
                {% endblock %}
                {% block forend %}
                {% endblock %}
                {% block pagination %}
                {% endblock %}
        	{% endblock %}

        	{% block footer %}
			{% endblock %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
        <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
        <script type="text/javascript" src="/assets/js/main.js"></script>
        <script src="vendor/dropzone/dist/dropzone.js"></script>
    </body>
</html>
