{% extends 'base.html.twig' %}

{% block footer %}
	<footer>
		<section class="Footer_Pages">
			<h2>Un problème ?<strong class="Strong_Grey">Contactez-<br>nous:</strong></h2>

			<div class=Under_Menu_Double>
			
				<p>Nous vous répondrons sous 24h !</p>

				<div>
					<p><adress>1234 Ch. de la perdition 457R6 Quelque-Part Jupiter</pre></adress></p>

					<p>07 67 03 00 77(T_T)</p>

					<p><a title ="Mail des createurs" target="_blank" href="#" class="Grey">RBNB</a></p>

					<p><a title ="Twitter des createurs" target="_blank" href="#" class="Grey">@RBNB</a></p>

					<p><a title ="Instagram des createurs" target="_blank" href="#" class="Grey">instagram.com/RBNB</a></p>

					<p><a title ="Dribbble des createurs" target="_blank" href="#" class="Grey">dribbble.com/RBNB</a></p>

					<p><a title ="Facebook des createurs" target="_blank" href="#" class="Grey">facebook.com/RBNB</a></p>
				</div>
			</div>
				<p>Tous droits réservés.<br><a title ="Mentions Légales" target="_blank" href="\Mentions" class="Grey">Mentions Légales</a></p>
		
		</section>
	</footer>
{% endblock %}