{% extends 'front_footer.html.twig' %}

{% block menu %}
		<div class ="Burger_Main_Menu">
			<div class="Bar_Burger"></div>
			<div class="Bar_Burger"></div>
			<div class="Bar_Burger"></div>
		</div>

		<nav class="Main_Menu">
			<ul type = "none" class="Menu_Style">
				<li class="Menu_Rules"><a class="White" href="\Accueil">Accueil</a></li>
				{% block menu_interne %}
				{% endblock %}
			</ul>									
		</nav>
	</header>
{% endblock %}