{% extends 'ajoutannonces.html.twig' %}

{% block main %}
	<h2>Inserez la photos que vous desirez pour votre annonce :</h2>
	<form enctype="multipart/form-data" action="\AjoutAnnoncesImage" method="post">
	  <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
	  <input name="userfile" type="file" />
	  <input type="submit" value="Envoyer le fichier" />
	</form>
{% endblock %}