{% extends 'accueil_vendeur.html.twig' %}

{% block title %}Ajout Annonces{% endblock %}

{% block undertitle %}Vous etes êtes sur la page de creation des annonces.{% endblock %}

{% block main %}
	<form action="\AjoutAnnonces" method="POST">
		<p>
			<legend>Pays</legend>										
			<input type="text" name="Pays" require pattern="^[A-Za-z 0-9]{3,50}$"></input>
		</p>
		<p>
			<legend>Ville</legend>									
			<input type="text" name="Ville" require pattern="^[A-Za-z 0-9]{3,50}$"></input>
		</p>
		<p>
			<legend>Adresse</legend>									
			<input type="text" name="Adresse" require pattern="^[A-Za-z 0-9]{3,50}$"></input>
		</p>
		<p>
			<legend>Nombre de couchages</legend>									
			<input type="text" name="Couchage" require pattern="^[0-9]{0,50}$"></input>
		</p>
		<p>
			<legend>Taille (uniquement le nombre en m2 )</legend>									
			<input type="text" name="Taille" require pattern="^[0-9]{0,50}$"></input>
		</p>
		<p>
			<legend>Prix (uniquement le nombre )</legend>									
			<input type="text" name="Prix" require pattern="^[0-9]{0,50}$"></input>
		</p>
		<p>
			<legend>Debut de la date de disponibilité : </legend> 
			<input name="Date_Debut" type="date" require pattern="^[0-9\/ ]{10,50}$"></input>
		</p>
		<p>
			<legend>Fin de la date de disponibilité : </legend>
			<input name="Date_Fin" type="date" require pattern="^[0-9\/ ]{10,50}$"></input>
		</p>
		<p>
			<legend>Type</legend>
			<select name="Choix_Type" required="" size="1">
				<option value="Logement entier">Logement entier</option>
				<option value="Chambre privé">Chambre privé</option>
				<option value="Chambre partager">Chambre partager</option>
			</select>
		</p>
		<p>
			<legend>Description du bien</legend>									
			<textarea type="text" name="Description"></textarea>
		</p>				
		<p>
			<button type="submit">Ajouter</button>
		</p>
	</form>
	
{% endblock %}