{% extends 'accueil_vendeur.html.twig' %}

{% block title %}Vos annonces{% endblock %}

{% block undertitle %}Vous êtes sur la page de la liste des annonces que vous avez postées.{% endblock %}

{% block addSupr %}
<a class="Grey" href="\SupressionAnnonce?id={{ annonce.id }}">Supprimer</a>
{% endblock %}

{% block pagination %}
{% endblock %}