{% extends 'accueil_vendeur.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block undertitle %}Vous etes êtes sur la page des reservations en tant que vendeur{% endblock %}

{% block main %}
	
{% endblock %}