{% extends 'front_footer.html.twig' %}

{% block webtitle %}Connection !{% endblock %}

{% block title %}Félicitation !{% endblock %}

{% block undertitle %}Vous etes connecté{% endblock %}

{% block main %}

	<p><a title ="Retourner a mes annonces" href="\Annonces" class="Grey">Retourner a mes annonces</a></p>

{% endblock %}	