{% extends 'front_footer.html.twig' %}

{% block webtitle %}Connexion !{% endblock %}

{% block title %}Connexion{% endblock %}

{% block undertitle %}Connectez-vous pour proposer vos reservations et reserver !{% endblock %}

{% block main %}
	<main>
		<form action="\Connexion" method="POST">
			<p>
				<legend>Nom d'utilisateur</legend>										
				<input type="text" name="Login"></input>
			</p>
			<p>
				<legend>Mot de passe</legend>									
				<input type="password" name="Password"></input>
			</p>					
			<p>
				<button type="submit">Connexion</button>
			</p>	
		</form>	
	</main>	
{% endblock %}