{% extends 'front_footer.html.twig' %}

{% block webtitle %}Inscription !{% endblock %}

{% block title %}Inscription{% endblock %}

{% block undertitle %}Inscrivez-vous pour proposer vos reservations et reserver !{% endblock %}

{% block main %}
	<main>
		<form action="\Inscription" method="POST">
			<p>
				<legend>Nom d'utilisateur</legend>										
				<input type="text" name="Login"></input>
			</p>
			<p>
				<legend>Mot de passe</legend>									
				<input type="password" name="Password"></input>
			</p>
			<p>
				<legend>Vous êtes ? ( vous pourrez changer a tout moment )</legend>
				<select name="Choix_Role" required="" size="1">
					<option value="0">Acheteur</option>
					<option value="1">Vendeur</option>
				</select>
			</p>						
			<p>
				<button type="submit">Ajouter</button>
			</p>	
		</form>
	</main>		
{% endblock %}