{% extends 'front_footer.html.twig' %}

{% block webtitle %}Inscription !{% endblock %}

{% block title %}Félicitation !{% endblock %}

{% block undertitle %}Vous etes inscrit{% endblock %}

{% block main %}

	<p><a title ="Passer a la suite" href="\Accueil" class="Grey">Passer a la suite.</a></p>

{% endblock %}	