{% extends 'front_footer.html.twig' %}


{% block main %}
    <main>
        <h2>Déja inscrit ?</h2>
            <button type='button'  onclick='window.location.href = "/Connexion"'>Connectez-vous !</button>
        <h2>Nouveau ?</h2>
            <button type='button' class="Amplified2" onclick='window.location.href = "/Inscription"'>Inscrivez-vous !</button>
    </main>
{% endblock %}