body
{
	background:#FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	color:#666666;
	text-align:center;

	-webkit-transition: transform .6s ease-in-out;
	transition: transform .6s ease-in-out;

	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

	body.Is_Move
		{
			-webkit-transform: translateX(80%);
			transform: translateX(80%);
		}


.Main_Menu
{
	position: fixed;
	left: 0;
	top: 0;
	padding-right:18px;
	padding-left:13px;
	background: #333;
	width:80%;
	height:100%;

	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);

}

			.Burger_Main_Menu
			{
				clear:both;
				position: absolute;
				left:10px;
				top: 10px;
				height:45px;
				width:90px;
				z-index:20;
				cursor:pointer;
				margin-top:0px;
				margin-bottom:0px;
				background-color:#E5E5E5;
				border-radius:12px;
				border-color:#FFFFFF;
				padding:20px 20px 30px 30px;
				-webkit-box-shadow: 3px 3px 0px 1px #888888;
				-moz-box-shadow: 3px 3px 0px 1px #888888;
				box-shadow: 3px 3px 0px 1px #888888;
				box-sizing: initial;
			}

				.Burger_Main_Menu .Bar_Burger
				{
					width: 40px;
					height: 6px;
					background: #111;
					margin: 10px 19px;
				}

#Titre_Trucs
{
	letter-spacing:15px;
	font-size:110px;
	font-weight:300;
	margin:50px 0 100px 0;
	text-transform:uppercase;
}

.Titre_Accueil_Other
{
	color:#1E90FF;
	font-family: 'Arvo', serif;
	letter-spacing:10px;
	font-size:40px;
	margin:0 0 0 0;
	padding-top:170px;
	text-shadow:3px 3px 0px #E5E5E5;
}


.Titre_Accueil
{
	color:#1E90FF;
	font-family: 'Arvo', serif;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:20px;
	font-size:90px;
	margin:0;
	padding-top:150px;
	text-shadow:6px 6px 0px #E5E5E5;
}
	h2,h3,h4
		{
			text-transform:uppercase;
			letter-spacing:6px;
			font-size:40px;
			font-weight:400;
			text-align:center;
		}
h3
{
	font-weight:700;
}


.Footer_Pages
{
	background-color:#E5E5E5;
    border: 2px solid #DDD;
    overflow:hidden;
    border: #C0C0C0 solid;
    border-width: 8px 0px 0px 0px;
    text-align:center;
}

.Menu_Rules
{
	text-transform:uppercase;
	letter-spacing:4px;
	font-size:60px;
	line-height:60px;

    border: #777 solid;
    border-width: 2px 2px 2px 2px;
    padding:20px;
}

a.White
{
	color:#FFFFFF;
	text-decoration: none;
}

.White_Emile
{
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:44px;
	letter-spacing:10px;
	padding-top:160px;
	font-weight:100;
	line-height:65px;
	margin:0;
}

.Grey
{
	color:#666666;
	font-size: 35px;
}

.Pagination
{
	color:#666666;
	display: inline-block;
}

p,
{
	letter-spacing:1px;
	font-size:32px;
	line-height:50px;
	margin:100px;
}

.Justify
{
	text-align:justify;
}

	strong.Strong_Grey
	{
		font-weight:600;
		color:#3C3C3C;
	}
	strong.Strong_White
	{
		 color:#FFFFFF;
	}

.Under_Menu
{
	text-transform:uppercase;
	letter-spacing:3px;
	font-size:28px;
	margin:40px 0 0 0;
	padding-bottom:100px;
	border-bottom: 5px #C0C0C0 solid;
	font-weight:700;
}

.Under_Menu_Double
{
	padding-bottom:20px;
	border-bottom: 5px #C0C0C0 solid;
	margin-bottom:0;
}

#Under_Menu_Truc
{
	font-size:34px;
	letter-spacing:5px;
}

#Mentions_Illegale_Under_Menu
{
	padding-bottom:0;
}


.Adress_Footer
{
	margin:0px;
}

i
{
    color:#E5E5E5;
    background:#888888;
    border-radius: 30px;
    height:45px;
    width:45px;
    margin-right:50px;
    padding:15px 0 0 15px;
    -webkit-box-shadow: 5px 5px 0px 1px #777777;
	-moz-box-shadow: 5px 5px 0px 1px #777777;
	box-shadow: 5px 5px 0px 1px #777777;
}

pre
{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	color:#666666;
	letter-spacing:1px;
	font-size:32px;
	line-height:50px;
	margin:100px;
}

img
{
	border:10px solid #E5E5E5;
}

.Post_Time
{
	color:#E5E5E5;
    background:#888888;
    border-radius: 8px;
    padding:10px 20px 10px 20px;
    -webkit-box-shadow: 5px 5px 0px 1px #E5E5E5;
	-moz-box-shadow: 5px 5px 0px 1px #E5E5E5;
	box-shadow: 5px 5px 0px 1px #E5E5E5;
}

.Underline
{
	text-decoration: underline;
}

button
{
	text-transform:uppercase;
	color:#FFFFFF;
	width: 680px;
	height:75px;
	border-radius:12px;
	background-color:#1E90FF;
	border-color:#FFFFFF;
	letter-spacing:2px;
	font-size:25px;
}

	button:hover
	{
		background-color:#00BFFF;
	}

.Img_Background
{
	background-image:url("Emile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:600px;
	width:auto;
	margin:25px 0 25px 0;
}

input, .Copy
{
	width: 680px;
	height:75px;
	margin:20px;
}


.Amplified
{
	padding:50px;
}

.Amplified2
{
	margin-bottom:50px;
}

.Image_Place
{
	float:left;
	margin:75px 10px 10px 120px;
}

.Flexed2 
{
    flex: 33.33%;
    max-width: 33.33%;
}

.Flexed3
{
    flex: 95%;
    max-width: 95%;
    display: flex;
	height: 50vh;
}

.Flexed
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

