{% extends 'accueil.html.twig' %}

{% block menu_interne %}
<li class="Menu_Rules"><a class="White" href="\">Déconnexion</a></li>
<li class="Menu_Rules"><a class="White" href="\ChangeRole">Acheter un bien</a></li>
<li class="Menu_Rules"><a class="White" href="\Annonces">Voir mes annonces</a></li>
<li class="Menu_Rules"><a class="White" href="\AjoutAnnonces">Ajouter une annonce</a></li>
<li class="Menu_Rules"><a class="White" href="\Reservations">voir les chambre reservé</a></li>
{% endblock %}

