{% extends 'menu.html.twig' %}

{% block webtitle %}RBNB - Annonces !{% endblock %}

{% block title %}Annonces{% endblock %}

{% block undertitle %}Vous êtes sur la page de la liste des annonces.{% endblock %}

{% block menu_interne %}
<li class="Menu_Rules"><a class="White" href="\Connexion">Connexion</a></li>
{% endblock %}

{% block main %}
	
	<div class="Flexed">
			{% for annonce in annonces %}
				<div class="Flexed2">
					<a class="Grey" href="https://www.google.com/maps/place/{{ annonce.ville }}/">{{ annonce.pays }} - {{ annonce.ville }}</a>
					<img src='\assets\images\{{ annonce.image }}' width="330" height="auto" longdesc="" alt="Unable to load image">
					<ul type="none">
						<li>Type : {{ annonce.type }}   --   <var>{{ annonce.taille }}m<sup>2</sup></var></li>
						<li>Couchages : {{ annonce.couchage }}   --   Prix : {{ annonce.price }}$</li>
						<li><a href="\Detailles?id={{ annonce.id }}">Voir +</a></li>
					</ul>
					{% block addSupr %}{% endblock %}
				</div>
			{% endfor %}
	</div>
	

	{% block pagination %}
		<div class="Pagination">
				<a class="Grey" href="\Accueil?p=0">0</a>
			{% for i in 1..pages %}
				<a class="Grey" href="\Accueil?p={{ i }}">{{ i }}</a>
			{% endfor %}	
		</div>
	{% endblock %}	
{% endblock %}	