{% extends 'accueil.html.twig' %}

{% block menu_interne %}
<li class="Menu_Rules"><a class="White" href="\">Déconnexion</a></li>
<li class="Menu_Rules"><a class="White" href="\ChangeRole">Vendre un bien</a></li>
<li class="Menu_Rules"><a class="White" href="\Reservations">voir les chambre reservé</a></li>
{% endblock %}
