{% extends 'annonces.html.twig' %}

{% block title %}Annonce choisis{% endblock %}

{% block undertitle %}Vous etes êtes sur la page de description de l'annonce{% endblock %}

{% block main %}

	<div class="Flexed">
		<div class="Flexed3">			
					<img src='\assets\images\{{ annonces.image }}' longdesc="" alt="Unable to load image" width="100%" height="auto">
					<div class="">
						<a class="Grey" href="https://www.google.com/maps/place/{{ annonces.ville }}/">{{ annonces.pays }}, {{ annonces.ville }}</a>
					</div>
					<div class="">
						<p>Type : {{ annonces.type }}   --   Taille : <var>{{ annonces.taille }}m<sup>2</sup></var></p>
						<p>Couchages : {{ annonces.couchage }}   --   Prix : {{ annonces.price }}$</p>	
						<p>{{ annonces.description }}</p>
						<p>{{ annonces.adresse }}</p>
						<p>Date de debut : {{ annonces.disponible_start }}</p>
						<p>Date de fin : {{ annonces.disponible_end }}</p>
					</div>
					{% block addSupr %}
					<a class="Grey" href="\Reserve?id={{ annonces.id }}">Reserver</a>
					{% endblock %}
		</div>
	</div>

{% endblock %}