{% extends 'accueil_acheteur.html.twig' %}

{% block title %}Reserver{% endblock %}

{% block undertitle %}Vous etes êtes sur la page pour reserver un bien{% endblock %}

{% block main %}
	<form action="\Reserve?id={{ annonce }}" method="POST">
		<p>
			<legend>Debut de la date de location : </legend> 
			<input name="Date_Debut" type="date" require pattern="^[0-9\/ ]{10,50}$"></input>
		</p>
		<p>
			<legend>Fin de la date de location : </legend>
			<input name="Date_Fin" type="date" require pattern="^[0-9\/ ]{10,50}$"></input>
		</p>	
		<p>
			<button type="submit">Ajouter</button>
		</p>
	</form>
	
{% endblock %}