{% extends 'accueil_acheteur.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block undertitle %}Vous etes êtes sur la page des reservations en tant qu'acheteur{% endblock %}

{% block main %}
	{{ reservations.id }}
{% endblock %}